*{
    box-sizing: border-box;
}

header {
    font-family: Helvetica, sans-serif;
    font-size: 2rem; 
    font-weight: bold; 
    color: khaki;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg"); 
    text-align: center; 
    padding: 20px; 
}

h2{
    background: mediumspringgreen;
    color: white; 
    font-family: Helvetica, sans-serif;
    font-size: 2rem; 
    padding: .5rem; 
    margin-top: 2rem;
}

h3{
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

p{
    font-family: Helvetica, sans-serif;
    font-size: 1.2rem;
}

span {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    color: blue; 
}

.frames h2 {
    background: lightcoral; 
}

.paint h2 {
    background: skyblue;
}